section.hero-careers(animate-stagger)
  .hero-careers__header.t-container
    +animated_header(
      ['A safe haven', '<span class="text-blue">for all</span>'],
      'xl',
      2,
      false
    ).text-black

    p(animate-fade-up).text-gray-500
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.

  .hero-careers__media
    div.hero-careers__images-wrapper(marquee data-pixel-per-second='50')
      .hero-careers__images(marquee-items)
        img(
          loading='lazy'
          src='https://placehold.co/1000x1000'
        )&attributes(attributes).hero-careers__tile
        img(
          loading='lazy'
          src='https://placehold.co/1000x1000'
        )&attributes(attributes).hero-careers__tile
        img(
          loading='lazy'
          src='https://placehold.co/1000x1000'
        )&attributes(attributes).hero-careers__tile
        img(
          loading='lazy'
          src='https://placehold.co/1000x1000'
        )&attributes(attributes).hero-careers__tile

    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2065 399" fill="none").hero-careers__svg
      path(stroke="#00D0D1" stroke-width="10" d="M0 254.307h406.968c133.875 0 263.224 24.714 364.145 69.574 100.922 44.861 230.267 69.574 364.147 69.574h584.45")
      path(stroke="#41FEFF" stroke-width="10" d="M.29 186.333h363.483c158.68 0 308.721 38.17 407.629 103.701 98.907 65.531 248.948 103.702 407.628 103.702H1720")
      path(stroke="#00A6ED" stroke-width="10" d="M.29 102.075h406.967c133.876 0 263.224 51.8 364.145 145.83 100.922 94.03 230.268 145.83 364.148 145.83H1720")
      path(stroke="#1F0EF2" stroke-width="10" d="M.14 5h365.098c157.763 0 307.044 71.436 406.016 194.295C870.224 322.153 1019.5 393.59 1177.27 393.59H2065")

  p.hero-ipo__body.text-gray-500(animate-fade-up)
    span.text-black A culture of change.
    | &nbsp; Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.
