section.partner-grid
  +animated_header([
    'Dedicated to',
    '<span class="text-blue">Our Many Partners</span>'
  ]).partner-grid__title.t-container

  .partner-grid__main
    .partner-grid__nav
      ul(role="tablist").partner-grid__tabs
        - for (var i = 0; i < 3; i++)
          li(role="presentation").partner-grid__tab
            button(
              aria-controls="content-" + i
              aria-selected=i == 0 ? "true" : "false"
              class=["partner-grid__button", i == 0 && "active"]
              data-index=i
              id="tab-item-" + i
              role="tab"
              type="button"
            )
              span Lorem ipsum

    .partner-grid__body
      .partner-grid__panes
        - for (var i = 0; i < 3; i++)
          div(
            aria-labelledby="tab-item-" + i
            class=["partner-grid__content", i == 0 && "active"]
            id="content-" + i
            role="tabpanel"
            tabindex="0"
          )
            h3.text-2xl.text-black.font-bold.mb-2
              | Lorem ipsum dolor sit amet consectetur adipisicing elit
            p.text-lg.font-medium.mb-0
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum veniam maiores tenetur veritatis, repellendus ratione, culpa, ab neque voluptate impedit repudiandae doloribus sit atque a ducimus rem dolorem suscipit sunt.

    .partner-grid__mosaic
      .partner-grid__panes
        - for (var i = 0; i < 3; i++)
          ul(
            aria-labelledby="tab-item-" + i
            class=["partner-grid__logos", i == 0 && "active"]
            id="logos-" + i
            role="tabpanel"
            tabindex="0"
          )
            - for (var k = 0; k < 9; k++)
              li.partner-grid__logo
                img(src="https://placehold.co/900x1600").partner-grid__image
